form{
    border: 1px solid #4e342e;
    border-radius:  4px;
    padding: 40px;
    input {
        padding: 5px 0px;
        width: 100%;
        line-height: 16px;
        margin: 10px 0;
    }
    .url_error {
        display: none;
        color: red;
    }
}
